<h1 mat-dialog-title>Select a destination group to copy rights of {{ source.groupName }}</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="Ticket" [(ngModel)]="fields.ticket" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Comment" [(ngModel)]="fields.comment">
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Expiration date" [(ngModel)]="fields.expiration">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <app-groups [toolbar]="false"></app-groups>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="{target: selected, fields: fields}" [disabled]="!selected || !fields.ticket">Save</button>
  <span *ngIf="selected" class="selected-group">Selected group: {{ selected.groupName }}</span>
</div>
