.grid-container {
  display: grid;
  grid-template-areas:
    'groups users group-rights'
    'groups users user-rights';
  grid-gap: 0.5rem;
  padding: 0.3rem 0.5rem;
}

app-groups {
  overflow-y: scroll;
  overflow-x: auto;
  padding: 0 0.5rem;
  height: 99vh;
  width: 20vw;
  grid-area: groups;
}

app-users {
  overflow-y: scroll;
  overflow-x: auto;
  padding: 0 0.5rem;
  height: 99vh;
  width: 12vw;
  grid-area: users;
}

app-group-rights {
  padding: 0 0.5rem;
  width: 63vw;
  grid-area: group-rights;
}

app-user-rights {
  padding: 0 0.5rem;
  width: 63vw;
  grid-area: user-rights;
}
