.grid-container {
  display: grid;
  grid-template-areas:
    'groups users group-rights'
    'groups users user-rights';
  grid-gap: 1rem;
  padding: 0 0.5rem;
}

app-groups {
  padding: 0 0.5rem;
  height: 100vh;
  width: 20vw;
  grid-area: groups;
}

app-users {
  padding: 0 0.5rem;
  height: 100vh;
  width: 15vw;
  grid-area: users;
}

app-group-rights {
  padding: 0 0.5rem;
  width: 58vw;
  grid-area: group-rights;
}

app-user-rights {
  padding: 0 0.5rem;
  width: 58vw;
  grid-area: user-rights;
}
