.grid-container {
  display: grid;
  grid-template-areas:
    'groups users rights';
  grid-gap: 0.5rem;
  padding: 0.3rem 0.5rem;
}

@media screen and (max-height: 940px) {
  app-group-rights {
    width: 60vw !important;
  }

  app-user-rights {
    width: 60vw !important;
  }

  app-groups {
    height: 97vh !important;
  }
}

app-groups {
  overflow-y: scroll;
  overflow-x: auto;
  padding: 0 0.5rem;
  height: 99vh;
  width: 20vw;
  grid-area: groups;
}

app-users {
  overflow-y: scroll;
  overflow-x: auto;
  padding: 0 0.5rem;
  height: 99vh;
  width: 12vw;
  grid-area: users;
}

app-group-rights {
  width: 64vw;
  height: 99vh;
  padding: 0 0.5rem;
  grid-area: rights;
}

app-user-rights {
  width: 64vw;
  height: 99vh;
  padding: 0 0.5rem;
  grid-area: rights;
}
