<h1 mat-dialog-title>Filter settings</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="Ticket" [(ngModel)]="fields.ticket">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Last modified by" [(ngModel)]="fields.lastModBy">
  </mat-form-field>
  <div class="dateToDate">
    <mat-form-field>
      <input matInput [matDatepicker]="pickerLastModifiedFrom" placeholder="Last modify date from" [(ngModel)]="fields.lastModDateFrom">
      <mat-datepicker-toggle matSuffix [for]="pickerLastModifiedFrom"></mat-datepicker-toggle>
      <mat-datepicker #pickerLastModifiedFrom></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="pickerLastModifiedTo" placeholder="Last modify date to" [(ngModel)]="fields.lastModDateTo">
      <mat-datepicker-toggle matSuffix [for]="pickerLastModifiedTo"></mat-datepicker-toggle>
      <mat-datepicker #pickerLastModifiedTo></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="dateToDate">
    <mat-form-field>
      <input matInput [matDatepicker]="pickerExpirationFrom" placeholder="Expiration date from" [(ngModel)]="fields.expirationDateFrom">
      <mat-datepicker-toggle matSuffix [for]="pickerExpirationFrom"></mat-datepicker-toggle>
      <mat-datepicker #pickerExpirationFrom></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="pickerExpirationTo" placeholder="Expiration date to" [(ngModel)]="fields.expirationDateTo">
      <mat-datepicker-toggle matSuffix [for]="pickerExpirationTo"></mat-datepicker-toggle>
      <mat-datepicker #pickerExpirationTo></mat-datepicker>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="fields">Save</button>
</div>
